html, body {
    margin: 0;
    width: 100%;
    font-family: 'Inconsolata', monospace;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main > * {
    margin: 5px;
}

pre {
    font-family: 'Inconsolata', monospace; 
}

#triple-out {
    width: 800px;
}

#console {
    width: 400px;
}

.error {
    color: red;
}